@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
	margin: 0px;
	padding: 0px;
}


html {
	scroll-padding-top: 80px;
	overflow-x: hidden !important;
	scroll-behavior: smooth!important;
}

#myModal2 .modal-content {
	padding: 20px;
	background: #fff !important;
}

body {
	height: 100%;
	width: 100%;
	overflow-x: hidden !important;
	scroll-behavior: smooth!important;
	transition: 2s;
	font-family: "Montserrat";
}

:root {
	--primary-color: #193579;
	--secondary-color:#F97316;
	--white-color:#fff;
	--black-color:#000; 
	--light-bg:#FFF6F0;
	--dark-blue:#201952;
  }
section {
	margin: 30px 0px 30px 0px;
	padding: 40px 20px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{margin-bottom: 0px!important;}

 hr {
	margin: 0.5rem;
	color: inherit;
	background-color: #ccc;
	
} 
.yellow{color: var(--secondary-color); font-size: 40px!important;}

p {
	margin-top: 0;
	margin-bottom: 0rem;
}


#topbar-content p {
	text-align: center;
	color: #fff;
	background-color: #000;
	padding: 10px;
}


.sub-h {
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}

.blue-btn {
	background-color: #3794e1;
	color: #fff;
	border-style: none;
	padding: 10px 20px;
	border-radius: 30px;
	margin: 20px 0px;
}

.bl{color: var(--primary-color);}
.org{color: var(--secondary-color);}
.top-banner {
	background-image: url(../images/mu_new_desktop_bg.png);
	background-size: cover;
	padding: 30px;
	margin-top: 65px;
	background-position: bottom;
	background-position-y: -30px;
}

#main-content {
	justify-content: center; align-items: center;
	margin: auto;
}


#main-content h1 {
	color: var(--white-color);
	font-size: 40px !important;
	font-weight: 500;
	line-height: 1;
	font-family: impact !important;
}
#main-content h2 {
	font-size: 20px;
	color: var(--white-color);
	padding: 10px;
	width: 350px;
	font-weight: 700;
	margin-top:20px; line-height: 1.5;
}


.top-banner h2 {
	font-size: 30px;
	font-weight: 500;
}

.topbtn {
	background-color: var(--secondary-color);
border-style: none;
	padding: 10px 30px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	border-radius: 5px;
	margin: 20px 0px;
}

/* end topbar */


/* start approvals */
#approvals {
	background-color: var(--primary-color);
	text-align: center;
	padding: 50px 100px;
}
#approvals h2{font-size: 16px; font-weight: 600; line-height: 1.0; color: var(--white-color); padding: 10px 0px;}
#approvals p{font-size: 11px; color: #fff; line-height: 1.2;}

#approvals h3 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 30px;
	padding: 0px 0px 35px 0px;
}
#approvals h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
}

@media only screen and (max-width:768px){
	#approvals h3 {
	font-size: 20px;
}
#approvals h1 {
	font-size: 20px;
}
}

/* start programs */


#pro-hd {
	text-align: center;
	color: var(--primary-color);
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
	padding-bottom: 20px;
}

.secondary_heading {
	font-weight: 500;
}

#program { background-color:var(--light-bg); padding: 50px 20px;
}

.D1{margin-top: 10px;}

/* Style the tab */

.tab{justify-content: center; align-items: center; margin: auto; display: flex;     margin-bottom: 20px;}
.tablinks{align-items: center; margin: 10px; padding: 10px 20px; border-radius: 5px;line-height: 1;border-style: none; background-color:#ccc;font-weight:500;}
.tab button.active {
	background-color: var(--secondary-color); color: var(--white-color); border-style: none;font-weight:500;
  }


  .card-box{background-color: var(--white-color); border-radius: 10px; margin-bottom: 20px;}
  .card-box img{border-top-left-radius: 5px; border-top-right-radius: 5px; width: 100%;}
  .card-box-info{font-size: 13px; padding: 20px 10px 20px 10px;}
  .C1{font-weight: bold;}
  .cd1{display: flex; }
  .cd1 p{margin: 10px 10px 10px 0px;}
  .cd1 .fa{float: left!important; padding: 3px 5px 25px 5px;}
  .cd1 p{width: 150px; font-weight: 600!important;}
  .card-box-info h2 {
	font-size: 32px;
	margin-bottom: 10px !important;
	font-weight: 600;
	color: #153682;
}
  .card-box-info p{font-size: 12px; font-weight: 500;}
  .brown{color: var(--primary-color); font-weight: 600;}
  .bld{font-weight: 600;}

  .btn1{font-size: 13px; padding: 5px 10px; margin-right:10px; color: var(--primary-color); border: 1.5px solid var(--primary-color); border-radius: 30px; background: none; font-weight:600;}
  .btn2{font-size: 13px; padding: 5px 10px; background-color: var(--secondary-color); border: 1.5px solid var(--secondary-color); border-radius: 30px; color: var(--white-color);font-weight:600;}


  /* Style the tab content */
  .tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
  }
  
  /* Style the close button */
  .topright {
	float: right;
	cursor: pointer;
	font-size: 28px;
  }
  
  .topright:hover {color: red;}


/* end programs */

/* about */

#about {
	 padding: 50px 0px 0px 0px;
}

#about h2 {
	color: var(--secondary-color);
	margin-bottom: 10px !important;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
}

@media only screen and (max-width:768px){
	#about h2 {
	font-size: 20px;
}
}

#about p{font-size: 14px; line-height: 1.5; padding: 0px; text-align:left;
    
}


/* program-highlight */

#Advantage{background-color: var(--primary-color); padding: 50px 20px; color: #fff;}
#Advantage h2{color: #fff; text-align: center; font-size: 30px;}
.adv-b{background-color: var(--white-color); padding:20px 30px; border-radius: 5px; color: #000; line-height: 1; height: 80px;
	 margin-bottom: 10px;}
.adv-b img{float: left; width: 70px; padding: 5px 15px 5px 5px; margin-top: -14px;}


#placement{padding: 50px 0px; text-align: center; background-color: #f7f7f7;}
#placement h2 {
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	color: #193579;
}
#placement p{font-size: 14px; line-height: 1.2;}


.item{margin: 20px; align-items: center; justify-content: center;}
.item h3{font-size: 20px!important; text-align: center; font-weight: 600; padding: 10px;}
.item p{font-size: 12px; line-height: 1.3; text-align: center;}


/* Courses */

/* footer */
.doubt{padding: 30px 30px;
	background-color: var(--secondary-color);
	color: #fff; font-size: 20px;  margin-bottom: -10px;
	} 
.doubt h2{font-weight: 600;}



#footer {
	padding: 30px 30px;
	background-color: var(--primary-color); color: var(--white-color);
}


#footer h2 {
	font-size: 20px; font-weight: 600; margin-bottom: 20px;
}

#footer p {
	font-size: 13px; 
}
.footer-enquiry {
	width: 700px;
	display: flex;
	align-items: center;
	margin: auto;
	justify-content: space-between; text-align: center;
}


.ftr-btn {
	padding: 10px 30px;
	border-style: none;
	border-radius: 30px;
	
	color: #fff;
	background-color:var(--primary-color);
	font-weight: bold; align-items: center;
    display: -webkit-inline-box;
    justify-content: center;
}


#footer-bottom-bar {
	padding: 10px;
	font-size: 13px;
	color: var(--white-color);
	text-align: center;
}


#faq h2{text-align: center!important; font-weight: 600;}

.accordion button .accordion-title {
    font-weight: 500;
    color: var(--dark-color);
}


.accordion .accordion-item button[aria-expanded="true"] {
	background-color: var(--primary-color);
	color: #fff!important;
	border-radius: 5px;
}

.accordion-item {
    margin: 10px 0px;

}

.accordion button {
	position: relative;
	display: block;
	text-align: left;
	width: 100%;
	padding: 1em;
	color: #000!important;
	font-size: 1rem;
	font-weight: 400;
	border: none;
	background-color:#e0e6ec ;
	outline: none; border-radius: 5px; border-left:5px solid var(--secondary-color);


}


.accordion button:hover,
.accordion button:focus {
	cursor: pointer;
	color: #03b5d2;
}

.accordion button:hover::after,
.accordion button:focus::after {
	cursor: pointer;
	color: #03b5d2;
}


.accordion button .icon {
	display: inline-block;
	position: absolute;
	top: 18px;
	right: 10px;
	width: 21px;
	height: 22px;
	border-radius: 22px;
	background-color: var(--secondary-color);
	color: #fff;
}

.accordion button .icon::before {
	display: block;
	position: absolute;
	content: "";
	top: 9px;
	left: 5px;
	width: 10px;
	height: 2px;
	background: currentColor;
}

.accordion button .icon::after {
	display: block;
	position: absolute;
	content: "";
	top: 5px;
	left: 9px;
	width: 2px;
	height: 10px;
	background: currentColor;
}

.accordion button[aria-expanded="true"] {
	color: #03b5d2;
}

.accordion button[aria-expanded="true"] .icon::after {
	width: 0;
}

.accordion button[aria-expanded="true"]+.accordion-content {
	opacity: 1;
	max-height: 9em;
	/* transition: all 200ms linear; */
	will-change: opacity, max-height;
	background-color: #f7f7f7;
	color: #000;
	padding: 0.5rem 1rem; box-shadow: 0 3px 3px 2px #ccc; border-radius: 5px;
}

.accordion .accordion-content {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: opacity 200ms linear, max-height 200ms linear;
	will-change: opacity, max-height;
}

.accordion .accordion-content p {
	font-size: 1rem;
	font-weight: 300;
	margin: 0.9em 0.9em;
}

.child {
	background-color: rgba(220, 220, 220, 0.5);
	padding: 18px;
	height: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


.about-text {
	margin: 30px 0px;
}

.modal {
	display: none;
	position: fixed;
	/* z-index: 1; */
	left: 0;
	top: 0;
	width: 100%;
	/* height: auto; */
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: transparent !important;
	margin: 5% auto;
	border-style: none;
	width: 35%;
}

/* Close button style */
.close {
	color: #fff;
	/* width: 40px; */
	float: right;
	/* padding: 0px 8px; */
	/* padding-left: 10px; */
	font-size: 28px;
	position: absolute;
	font-weight: bold;
	color: #707070;
	margin-left: 87%;
	padding: 0px 5px;
	margin-top:20px;

}

.close:hover,
.close:focus {
	color: red;
	text-decoration: none;
	cursor: pointer;
}

.modal-content {
	background-color: transparent;
	margin: 5% auto;

	width: 35%;
}


@media (max-width: 480px) {

	section {
		margin: 30px 0px 30px 0px;
		padding: 20px 10px;
	}

	p {
		margin-top: 0;
		margin-bottom: 0rem;
	}


	/*.top-banner{background-color:#FAF9F5; }*/

	.top-banner {
	background-image: url(../images/new_mu_mobile_bg.png);
	/* background-repeat: no-repeat; */
	background-size: cover;
	padding: 20px 0px;
}

	#main-content {
		padding: 10px;
	}

	#main-content h1 {
	color: var(--white-color) !important;
	font-size: 24px !important;
	font-weight: 500;
}

    #main-content h2 {
        background-color: #ffffff;
        font-size: 21px;
        color: #bb2626;
        padding: 10px;
        width: 300px;
        font-weight: 700;
    }

	.yellow {
	color: var(--secondary-color);
	font-size: 42px !important;
}
	#main-content p {
		font-size: 16px;
		
	}

  .topbtn {
    background-color: var(--secondary-color);
    border-style: none;
    padding: 10px 10px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    border-radius: 30px;
    margin: 20px 0px;
  }

	.top-rec {
		display: flex;
        font-weight: 600;
        justify-content: space-between;
        width: 350px;
    }


    /* start approvals */
    #approvals {
     margin-top: 0px; padding: 40px 10px!important; 
    }

	#approvals img {
	width: 65%;
}

	#apr {
	width: 47% !important;
	margin: 5px;
	padding-bottom: 20px;
}
	#approvals h2{font-size:15px;}

	/* .B1 {
		color: var(--primary-color);
		font-size: 20px !important;
	}

    #approvals-box {
        padding: 10px;
        border-radius: 10px;
        width: 100%!important;
    }
    #approvals-box img {
        width: 60px!important; height: 60px!important;
    }
     */

    /* #approvals h2 {
        color: #4b4b4b;
        padding: 0px;
        font-size: 14px;
        font-weight: 600; 
		margin: 5px 5px;
    }
	#approvals-box p {
		font-size: 14px;
		font-weight: 500;
		margin-top: 0px;
		line-height: 1.2em;
		
	} */


	/*program*/

	#pro-hd {
		text-align: center;
		color: var(--primary-color);
		font-size: 20px;
	}
	.card-box {
		background-color: var(--white-color);
		border-radius: 10px;
		margin-bottom: 20px;
	}

	.card-box-info h2 {font-size: 30px;}

	.btn1, .btn2{font-size: 12px;}
/* 
	.D1{display: flex; margin-top: 10px; justify-content: space-between;}
	.tablinks{align-items: center; margin: 5px; padding: 10px; border-radius: 5px;}
	.C1{font-size: 12px;}
	.card-box-info h2{font-size: 22px;}
	.card-box-info p{font-size: 11px;}
	.card-box img {
		width: 112px;
		float: left;
	}

	.card-box-info {
		font-size: 13px;
		padding: 10px 10px 10px 122px; margin-top: 10px;
	}
	.bld{font-weight: 500;}
	.btn1 {
		font-size: 11px;
		padding: 5px 8px;
		color: var(--primary-color);
		border: 2px solid var(--primary-color);
		border-radius: 5px;
	}

	.btn2 {
		font-size: 11px;
		padding: 5px 8px;
		background-color: var(--primary-color);
		border: 2px solid var(--primary-color);
		border-radius: 5px;
		color: var(--white-color);
	} */
	/* about */
	#about{padding: 30px 10px 0px 10px; justify-content: center; text-align:left;}
	.about-info {
		padding:20px; 
	}

	#Advantage h2 {
		color: #fff;
		text-align: center;
		font-size: 23px;
	}


	  .item {
        align-items: center;
        background-color: var(--primary-color) !important;
        color: white;
        /* height: 300px; */
        justify-content: center;
        display: block; margin:10px; border-style:none;
    }
      .item h3{font-size: 15px!important;}
      .item p{font-size: 13px;}


			
		.owl-nav .owl-prev, .owl-nav .owl-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			background: #fff;
			border-radius: 50%;
			padding: 10px;
			cursor: pointer;
		}

		.owl-nav .owl-prev {
			left: -25px;
		}

		.owl-nav .owl-next {
			right: -25px;
		}

		.owl-nav i {
			font-size: 18px;
		}

		#placement h2 {
			font-size: 22px;
			color: #003399;
			/* margin-top: -2px; */
		}

	.accordion button .accordion-title{font-size:14px;}
	.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
            padding: 1em 3em 1em 1em;
    color: #000 !important;
    font-size: 14px; line-height:1.4em;
    font-weight: 400;
    border: none;
    background-color: #e0e6ec;
    outline: none;
    border-radius: 5px;
    border-left: 5px solid var(--secondary-color);
}
	
	.accordion .accordion-content p {
    font-size: 14px; line-height:1.4em;
    font-weight: 300;
    margin: 0.9em 0.9em;
}
	
	.accordion button[aria-expanded="true"]+.accordion-content {
    opacity: 1;
    max-height: 9em;
    /* transition: all 200ms linear; */
    will-change: opacity, max-height;
    background-color: #f7f7f7;
    color: #000;
    padding: 0.5rem 1rem;
    box-shadow: 0 3px 3px 2px #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
	/* start approvals */
		.doubt {
			padding: 30px 0px;
			background-color: var(--secondary-color);
			color: #fff;
			font-size: 20px;
			margin-bottom: -10px;
		}
		.doubt{font-size: 14px; text-align: center;}
		#footer {
		padding: 30px 30px;
		background-color: var(--primary-color);
		color: #fff;
	}

	#footer h2 {
        font-size: 18px;
        margin-top: 20px;
    }



	.ftr-btn {
		margin-top: 10px;}
		
	#footer-bottom-bar {
		padding: 10px;
		font-size: 13px;
		color: var(--white-color);
		text-align: center;
	}

	
	#faq h2{text-align: center!important; color: var(--primary-color); font-weight: 600;}


	
	#placement {
		padding: 50px 10px;
		background-color: #f7f7f7;
	}

	#placement h2 {
		font-size: 20px;
		color: #003399;
		margin-top: -2px;
	}

	#card-box {
		margin: 10px;
		box-shadow: 0 18px 18px 0 rgba(0, 0, 0, 0.2);
	}

	.card-box-cnt {
		padding: 20px;
	}

	.heading-splz {
		font-size: 17px;
	}

	#card-box p {
		font-size: 12px;
		line-height: 1.3;
	}

	#card-box h6 {
		margin-top: 10px;
		font-size: 13px;
	}


	.splz {
		margin-top: 10px;
	}

	.modal {
		display: none;
		position: fixed;
		/* z-index: 1; */
		left: 0;
		top: 0;
		width: 100%;
		/* height: auto; */
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.4);
		transition: opacity 0.5s ease-in-out;
	}

	.modal-content {
		margin: 35% auto;
		/* padding: 20px; */
		width: 83%;
		background-color: transparent;
		border-style: none;
	}

	/* Close button style */
	.close {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
		position: absolute;
		margin-left: 88%;
		margin-top: 5px;
	}

	.close:hover,
	.close:focus {
		color: red;
		text-decoration: none;
		cursor: pointer;
	}

	a {
		color: #0d6efd;
		/* text-decoration: underline; */
		text-decoration: none;
	}

	video {
		margin-bottom: -10px;
	}

	.modal-content {
		width: 100%;

	}


}
.owl-dots {
	text-align: center;
	padding-top: 15px;
  }
  .owl-dots button.owl-dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
	background-color: rgba(51, 51, 51, 0.38) !important;
	margin: 0 3px;
  }
  .owl-dots button.owl-dot.active {
    background-color: #000 !important;
}
  .owl-dots button.owl-dot:focus {
	outline: none;
  }
  .owl-nav button {
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  background: rgba(51, 51, 51, 0.38) !important;
  }
  .owl-nav button:focus {
	  outline: none;
  }
  .disclaimer_popup{color: #011bfe; font-size: 12px; text-decoration: underline; cursor:pointer;}



  .welcome {
	width: fit-content;
	padding: 6px 20px;
	background: #fff;
	font-size: 16px;
	border-radius: 7px;
	color: #f97316;
	font-weight: 600;
	margin-bottom: 15px !important;
}
.sode_content {
	padding-bottom: 10px;
}

.banner_content {
	font-size: 13px !important;
	line-height: 18px !important;
	width: 50%;
	color: #000 !important;
	padding-top: 10px;
}

@media only screen and (max-width:768px){
	.sode_content {
	font-size: 14px !important;
}
.banner_content {
	width: 100%;
	font-size: 12px !important;
}
}


.coupon-button-mobile {
	display: none;
}

@media only screen and (max-width:768px){
	.coupon-button-mobile {
	display: unset;
	margin: 0px 0px 10px 15px;
}
}

.approvals_container.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
	max-width: unset;
}


#popupForm #form {
	padding: 0px;
	box-shadow: none;
}

/* Overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Popup box */
.popup-content {
    background: #ffffff;
    width: 90%;
    max-width: 420px;
    padding: 25px;
    border-radius: 15px;
    position: relative;
    animation: popupFade 0.4s ease;
    box-shadow: 0 15px 40px rgba(46, 204, 113, 0.4);
}

/* Close button */
.close-btn {
    position: absolute;
    top: -4px;
    right: 10px;
    font-size: 30px !important;
    cursor: pointer;
    color: #27ae60;
}

/* Animation */
@keyframes popupFade {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Submit button */
.sub-btn {
    background: linear-gradient(135deg, #2ecc71, #27ae60);
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}


#Advantage h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
}

@media only screen and (max-width:768px){
	#Advantage h2 {
	font-size: 20px;
}
}



#sode_about {
	background: #19347b;
	background-size: cover;
	padding: 60px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#sode_about h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
	line-height: 24px;
	padding-bottom: 10px;
	text-align: center;
}

#sode_about p {
	color: #fff;
	width: 80%;
	padding: 5px 0px 10px 0px;
	font-size: 12px;
	text-align: center;
}

.sode_about_button .compare_btn {
	background: #2bbf6a;
	padding: 8px 15px;
	color: #fff;
	border-radius: 50px;
	font-size: 14px;
	font-weight: 600;
	margin-left: 5px;
}

.sode_about_button .compare_btn:hover {
	text-decoration: none;
}

.sode_secondary {
	font-size: 18px;
}
.sode_about_mobile {
	display: none;
}


@media only screen and (max-width:768px){
	#sode_about {
	background-image: none;
	background-size: cover;
	padding: 50px 20px 50px 20px;
	background: #19347b;
}
#sode_about p {
	width: 100%;
}
.sode_about_mobile {
	display: unset;
	width: 100%;
}
.sode_secondary {
	font-size: 12px;
}
}




.apply-section {
    padding: 60px 20px;
    background: #ffffff;
    text-align: center;
	margin: 0px;
}

.apply-section h2 {
    font-size: 30px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #193579;
}

.section-desc {
	max-width: 900px;
	margin: 0 auto 50px;
	color: #555;
	font-size: 14px;
	padding-top: 10px;
}

/* Steps layout */
.steps-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

/* Step card */
.step-card {
    background: #fff;
    padding: 20px 18px;
    border-radius: 14px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.step-card h4 {
	font-size: 16px;
	margin: 20px 0 10px;
	color: #000;
	font-weight: 600;
	padding-bottom: 10px;
}

.step-card p {
	font-size: 12px;
	color: #444;
}

/* Number circle */
.step-number {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

/* Bottom border */
.step-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    border-radius: 0 0 14px 14px;
}

/* Color themes */
.orange .step-number { border: 3px solid #ff8c32; color: #ff8c32; }
.orange::after { background: #ff8c32; }
.orange { background: #fff4e9; }

.blue .step-number { border: 3px solid #0b5ed7; color: #0b5ed7; }
.blue::after { background: #0b5ed7; }
.blue { background: #f2f8ff; }

.pink .step-number { border: 3px solid #ff2d6f; color: #ff2d6f; }
.pink::after { background: #ff2d6f; }
.pink { background: #fff1f6; }

.green .step-number { border: 3px solid #1faa59; color: #1faa59; }
.green::after { background: #1faa59; }
.green { background: #effff5; }

.purple .step-number { border: 3px solid #8e2de2; color: #8e2de2; }
.purple::after { background: #8e2de2; }
.purple { background: #f9f0ff; }

/* Responsive */
@media (max-width: 1200px) {
    .steps-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .steps-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
	.apply-section h2 {
	font-size: 20px;
}
.step-card p {
	font-size: 14px;
	color: #444;
}
}





/* Media footer strip */
.media-footer-strip {
    background: #fafafa;
    padding: 20px;
    border-top: 1px solid #eee;
	margin: 0px;
}

.media-footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

/* Logo wrapper */
.media-logo {
    flex: 1;
    text-align: center;
}

/* Logos */
.media-logo img {
	max-height: 100%;
	max-width: 190px;
	width: auto;
	filter: grayscale(100%);
	opacity: 0.6;
	transition: all 0.3s ease;
}

/* Hover effect */
.media-logo img:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.05);
}

/* Tablet & Mobile */
@media (max-width: 768px) {
    .media-footer-container {
        justify-content: center;
    }

    .media-logo {
        flex: 0 0 45%;   /* 2 logos per row */
        max-width: 45%;
    }
	.media-logo img {
	max-width: 120px;
}
}

/* Small phones */
@media (max-width: 400px) {
    .media-logo {
	flex: 0 0 40%;
	max-width: 40%;
}
}




.mini-footer {
  background: #111;
  color: #777;
  position: relative;
}

/* Top section */
.mini-footer-top {
  text-align: center;
  padding: 20px 15px 25px;
}

/* Social icons */
.social-icons {
  margin-bottom: 10px;
}

.social-icons a {
  color: #fff;
  margin: 0 6px;
  font-size: 16px;
  text-decoration: none;
}

/* Footer links */
.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: #1e90ff;
  font-size: 14px;
  text-decoration: none;
  margin: 0 8px;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Address */
.footer-address {
  font-size: 13px;
  color: #666;
  margin: 0;
}

/* Blue copyright bar */
.mini-footer-bottom {
	background: #0b3c66;
	color: #fff;
	text-align: center;
	padding: 7px 10px;
	font-size: 13px;
}

/* Scroll to top button */
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #0b72d9;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 12px;
  border-radius: 4px;
}



#footer-bottom-bar {
	padding: 10px;
	font-size: 13px;
	color: var(--white-color);
	text-align: center;
}





/* .coupon-btn {
	bottom: 70px;
} */

.sticky_btn_Section {
	display: none;
}

@media only screen and (max-width:768px){
  .sticky_btn_Section {
	display: unset;
}
.mini-footer-bottom {
	padding-bottom: 70px !important;
}

.footer_sticky_buttons {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 0px;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 99999;
}
.footer_sticky_buttons a {
	background: #25d366;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	color: #fff;
	padding: 10px 6px;
	font-size: 16px;
}
.footer_sticky_buttons .apply_btn {
	background: #f97316;
	color: #fff;
	font-size: 16px;
	border: none;
}
.footer_sticky_buttons .wp_btn svg {
	width: 16px !important;
	fill: #fff;
}
}



#myModal2 #form {
	box-shadow: unset;
	padding: 0px;
}

#myModal2 #closeButton2 {
	top: -15px !important;
	right: 5px !important;
}





.call_fix_image img {
	width: 65px;
	position: fixed;
	bottom: 15px;
	right: 9px;
	border-radius: 50px;
	z-index: 9999;
	box-shadow: 0 15px 35px rgba(0,0,0,0.4), 0 0 35px rgba(46, 204, 113, 0.9);
}

@media only screen and (max-width:768px){
  .call_fix_image img {
	width: 60px;
	bottom: 70px;
}
}


.call_fix_text {
	background: #f97316;
	padding: 3px 20px;
	border-radius: 20px;
	color: #fff;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	width: fit-content !important;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	letter-spacing: -0.5px;
}

.call_fix_text:hover {
	color: #fff;
	text-decoration: none;
}

.call_fix_text_section {
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Shine animation */
.call_fix_text::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 30%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    transform: skewX(-25deg);
    animation: shine 2.5s infinite;
}

/* Shine movement */
@keyframes shine {
    0% {
        left: -75%;
    }
    100% {
        left: 125%;
    }
}






.un_image_container img {
	width: 230px;
	margin-bottom: 10px;
}

@media only screen and (max-width:768px){
  .un_image_container img {
	display: none;
  }
  #banner-cnt p {
	text-align: center;
}
.banner_main_heading {
	text-align: center;
}
.banner_about {
	width: 100%;
}
.yellow-lbl {
	background-color: #fbcb12;
	color: #08417b;
	font-weight: bold;
	padding: 0px 10px;
	margin-top: 10px;
	position: absolute;
	border-radius: 5px;
	font-size: 14px;
	margin-left: 20%;
}
.topbanner-btn {
	display: none;
}
.banner_main_heading{
  font-size: 42px !important;
  font-weight: 500 !important;
}
.banner_about {
	font-size: 22px !important;
}
#banner-cnt {
	padding: 0px 20px;
}
}




.course-highlight {
	background: #fff;
	border: 2px solid #193579;
	border-radius: 10px;
	padding: 10px !important;
	width: 45%;
	margin-top: 30px;
	margin-bottom: 0px;
}

.course-highlight h5 {
	background: #193579;
	width: fit-content;
	padding: 4px 10px;
	color: #fff;
	border-radius: 8px;
	margin-top: -25px;
	font-size: 14px;
}

.course-highlight .cc {
	font-size: 18px;
	color: #000;
	font-weight: bold;
}

.hash_tag {
	color: #000;
	font-size: 18px !important;
}

#topsec .col-md-4 {
	margin-top: 20px;
}

@media only screen and (max-width:768px){
	#topsec p, #topsec h1, #topsec h2 {
  text-align: center;
}
#topsec .container {
	padding: 0px !important;
}
.main_download_btn.top-btn {
	display: none;
}
.course-highlight {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 30px !important;
}
#topsec .banner_text_section {
	padding: 0px 40px !important;
}
.course-highlight .cc {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}
#topsec .col-md-5 {
	padding: 0px 30px;
}
#topsec .banner_about {
	width: 100%;
}
#topsec .col-md-4 {
	margin-top: -40px;
	padding: 0px 20px;
}

.top-banner .topbtn {
	display: none;
}

.top-banner #main-content {
  padding: 10px 30px;
}

.top-banner #main-content p, .top-banner #main-content h1  {
  text-align: center;
}
.top-banner .col-md-4 {
	padding: 0px;
}
.top-banner #form {
	margin: 0px 20px;
}
}